<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="utf-8">
    <title>index-desa</title>
</head>
<body>
<div class="container-xxl flex-grow-1 container-p-y" layout:fragment="content">
    <h3>Desa List</h3>
    <a th:href="@{~/desa/add}" class="btn btn-outline-info mb-3">Add New Desa</a>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>No</th>
            <th>#</th>
            <th>Desa</th>
            <th>Kecamatan</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, stat : ${data}">
            <th scope="row" th:text="${stat.index + 1}"></th>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.kec}"></td>
            <td>
                <a th:href="@{~/desa/detail/{id}(id = ${item.id})}" class="btn btn-outline-primary">
                    <i class="fa-regular fa-eye"></i>Detail
                </a>
                <a th:href="@{~/desa/edit/{id}(id = ${item.id})}" class="btn btn-outline-warning">
                    Edit
                </a>
                <a th:href="@{~/desa/delete/{id}(id = ${item.id})}" class="btn btn-outline-danger">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>