<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>fakultas-edit</title>
</head>
<body>
<div class="container-xxl flex-grow-1 container-p-y" layout:fragment="content">
    <h4>Edit Fakultas</h4>
    <form th:action="@{~/fakultas/update}" method="post">
        <div class="card">
            <h5 class="card-header">Fakultas</h5>
            <div class="card-body">
                <div class="mb-3">
                    <input type="hidden" id="fakultas-id" class="form-control" name="id" th:value="${fakultas.id}">
                    <label for="code" class="form-label">Fakultas Code</label>
                    <input type="text" id="code" class="form-control" name="code" th:value="${fakultas.code}">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Fakultas Name</label>
                    <input type="text" id="name" class="form-control" name="name" th:value="${fakultas.name}">
                </div>
                <div id="majors-container">
                    <div class="card major-card mb-3" th:each="jurusan, majIte : ${fakultas.jurusanModels}">
                        <h5 class="card-header d-flex justify-content-between align-items-center">
                            Majors
                            <div class="ms-auto">
                                <button class="btn btn-outline-success btn-add" type="button">
                                    New Majors
                                </button>
                                <button class="btn btn-outline-danger btn-delete" type="button">
                                    Delete Majors
                                </button>
                            </div>
                        </h5>
                        <div class="card-body">
                            <div class="mb-3">
                                <label th:for="|id_${majIte.index}_code|" class="form-label">Majors Code</label>
                                <input type="text" th:id="|id_${majIte.index}_code|" class="form-control" th:name="|jurusanModels[${majIte.index}].code|" th:value="${jurusan.code}">
                            </div>
                            <div class="mb-3">
                                <label th:for="|id_${majIte.index}_name|" class="form-label">Majors Name</label>
                                <input type="text" th:id="|id_${majIte.index}_name|" class="form-control" th:name="|jurusanModels[${majIte.index}].name|" th:value="${jurusan.name}">
                            </div>
                        </div>
                        <div class="container-fluid years-container">
                            <div class="card year-card mb-3" th:each="years, yearIte : ${jurusan.studentCountModels}">
                                <h5 class="card-header d-flex justify-content-between align-items-center">
                                    Year
                                    <div class="ms-auto">
                                        <button class="btn btn-outline-success ms-auto btn-add-year" type="button">
                                            New Year Majors
                                        </button>
                                        <button class="btn btn-outline-danger ms-auto btn-delete-year" type="button">
                                            Delete Year Majors
                                        </button>
                                    </div>
                                </h5>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label th:for="|id_${yearIte.index}_years|" class="form-label">Year</label>
                                        <input type="text" th:id="|id_${yearIte.index}_years|" class="form-control" th:name="|jurusanModels[${majIte.index}].studentCountModels[${yearIte.index}].years|" th:value="${years.years}">
                                    </div>
                                </div>
                                <div class="container-fluid mahasiswa-container">
                                    <div class="card card-students mb-3" th:each="mahasiswa, mahIte : ${years.mahasiswa}">
                                        <h5 class="card-header d-flex justify-content-between align-items-center">
                                            Students
                                            <div class="ms-auto">
                                                <button class="btn btn-outline-success ms-auto btn-students" type="button">
                                                    New Students
                                                </button>
                                                <button class="btn btn-outline-danger ms-auto btn-delete-students" type="button">
                                                    Delete Students
                                                </button>
                                            </div>
                                        </h5>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label th:for="|id_${mahIte.index}_nim|" class="form-label">NIM</label>
                                                <input type="text" th:id="|id_${mahIte.index}_nim|" class="form-control" th:name="|jurusanModels[${majIte.index}].studentCountModels[${yearIte.index}].mahasiswa[${mahIte.index}].nim|" th:value="${mahasiswa.nim}">
                                            </div>
                                            <div class="mb-3">
                                                <label th:for="|id_${mahIte.index}_name|" class="form-label">Mahasiswa Name</label>
                                                <input type="text" th:id="|id_${mahIte.index}_name|" class="form-control" th:name="|jurusanModels[${majIte.index}].studentCountModels[${yearIte.index}].mahasiswa[${mahIte.index}].name|" th:value="${mahasiswa.name}">
                                            </div>
                                            <div class="course-container">
                                                <h5 class="d-flex justify-content-between align-items-center">
                                                    Course
                                                    <div class="ms-auto">
                                                        <button class="btn btn-outline-success ms-auto btn-add-course" type="button">
                                                            New Course
                                                        </button>
                                                        <button class="btn btn-outline-danger ms-auto btn-delete-course-tbl" type="button">
                                                            Delete Course
                                                        </button>
                                                    </div>
                                                </h5>
                                                <table class="table table-striped table-hover table-bordered tbl-course">
                                                    <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Code</th>
                                                        <th>Name</th>
                                                        <th>Dosen</th>
                                                        <th>Nilai</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="course-body">
                                                    <tr th:each="matkul, matIte : ${mahasiswa.mataKuliah}" class="course-row">
                                                        <th scope="row" th:text="${matIte.index + 1}"></th>
                                                        <td>
                                                            <input type="text" class="form-control" th:name="|jurusanModels[${majIte.index}].studentCountModels[${yearIte.index}].mahasiswa[${mahIte.index}].mataKuliah[${matIte.index}].code|" th:value="${matkul.code}">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" th:name="|jurusanModels[${majIte.index}].studentCountModels[${yearIte.index}].mahasiswa[${mahIte.index}].mataKuliah[${matIte.index}].name|" th:value="${matkul.name}">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" th:name="|jurusanModels[${majIte.index}].studentCountModels[${yearIte.index}].mahasiswa[${mahIte.index}].mataKuliah[${matIte.index}].dosenName|" th:value="${matkul.dosenName}">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" th:name="|jurusanModels[${majIte.index}].studentCountModels[${yearIte.index}].mahasiswa[${mahIte.index}].mataKuliah[${matIte.index}].nilai|" th:value="${matkul.nilai}">
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-outline-danger btn-delete-course">
                                                                <i class="bi bi-trash3-fill"></i>&nbsp;Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mb-3 me-3">
                <button type="submit" class="btn btn-outline-warning me-2">
                    <i class="bi bi-check2-square"></i>&nbsp;Save Changes
                </button>
                <button type="button" class="btn btn-outline-secondary" onclick="window.history.back();">
                    <i class="bi bi-backspace-reverse-fill"></i>&nbsp;Back
                </button>
            </div>
        </div>
    </form>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{~/scripts/fakultas/edit.js}"></script>
</th:block>
</body>
</html>