<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="utf-8">
    <title th:text="|RW-${rw.name}|"></title>
</head>
<body>
<div class="container-xxl flex-grow-1 container-p-y" layout:fragment="content">
    <div class="card">
        <h5 class="card-header"># Detail RW</h5>
        <div class="card-body">
            <form>
                <fieldset disabled>
                    <div class="mb-3">
                        <label for="id" class="form-label">#</label>
                        <input type="text" class="form-control" id="id" name="id" th:value="${rw.id}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="kelurahan" class="form-label">Desa</label>
                        <input type="text" class="form-control" id="kelurahan" name="name" th:value="${kelurahan.name}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="dusun" class="form-label">Dusun</label>
                        <input type="text" class="form-control" id="dusun" name="name" th:value="${dusun.name}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">RW</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${rw.name}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="rw-leader" class="form-label">Leader</label>
                        <input type="text" class="form-control" id="rw-leader" name="rwLeader" th:value="${rw.rwLeader}" readonly>
                    </div>
                </fieldset>
                <h5># Daftar RT</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Leader</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rt, stat : ${rw.rtModels}">
                        <th scope="row" th:text="${stat.index + 1}"></th>
                        <td th:text="${rt.id}"></td>
                        <td th:text="${rt.name}"></td>
                        <td th:text="${rt.rtLeader}"></td>
                        <td>
                            <a th:href="@{~/desa/desa/{desaId}/dusun/{dusunId}/rw/{rwId}/rt/{rtId}(desaId = ${desaId}, dusunId = ${dusunId}, rwId = ${rwId}, rtId = ${rt.id})}" class="btn btn-outline-primary">
                                <i class="fa-regular fa-eye"></i>Detail
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="d-flex justify-content-end mb-3 me-4">
            <button type="button" class="btn btn-outline-secondary" onclick="window.history.back();">Back</button>
        </div>
    </div>
</div>
</body>
</html>