<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="|detail-${years.years}|"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="card">
        <h5 class="card-header">Majors Detail</h5>
        <div class="card-body">
            <form>
                <fieldset disabled>
                    <div class="mb-3">
                        <label for="id" class="form-label">#</label>
                        <input type="text" id="id" class="form-control" name="id" th:value="${years.id}">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Fakultas Name</label>
                        <input type="text" id="name" class="form-control" name="name" th:value="${fakultas.name}">
                    </div>
                    <div class="mb-3">
                        <label for="code" class="form-label">Code</label>
                        <input type="text" id="code" class="form-control" name="code" th:value="${jurusan.code}">
                    </div>
                    <div class="mb-3">
                        <label for="name-majors" class="form-label">Majors Name</label>
                        <input type="text" id="name-majors" class="form-control" name="name" th:value="${jurusan.name}">
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year</label>
                        <input type="text" id="year" class="form-control" name="years" th:value="${years.years}">
                    </div>
                    <div class="mb-3">
                        <label for="jumlah" class="form-label">Students Count</label>
                        <input type="text" id="jumlah" class="form-control" name="getMahasiswaCount()" th:value="${years.getMahasiswaCount()}">
                    </div>
                </fieldset>
                <h4>Daftar Mahasiswa</h4>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>#</th>
                        <th>NIM</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, stat : ${years.mahasiswa}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.nim}"></td>
                        <td th:text="${item.name}"></td>
                        <td>
                            <a th:href="@{~/fakultas/fakultas/{fakultasId}/majors/{majorsId}/majorsYear/{majorsYearId}/mahasiswa/{mahasiswaId}(fakultasId = ${fakultasId}, majorsId = ${majorId}, majorsYearId = ${majorsYearId}, mahasiswaId = ${item.id})}" class="btn btn-outline-primary">
                                Detail
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="d-flex justify-content-end mb-3 me-3">
            <button type="button" class="btn btn-outline-secondary" onclick="window.history.back();">Back</button>
        </div>
    </div>
</div>
</body>
</html>